.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}


.rpad {
   padding: 0 !important;
   margin: 0 !important;
}

 
/*Override Bootstrap Font Size*/
.form-control, .control-label, .table {
    font-size: 12px;
}

.modal-dialog1 {
	width :750px;	
}	


.labels125 {
	 font-size: 155%;
}	

.labels100 {
	 font-size: 100%;
}	