<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <requestLimits maxUrl="10000" maxQueryString="6000">
                    <headerLimits>
                        <add header="Content-type" sizeLimit="30000" />
                    </headerLimits>
                </requestLimits>
            </requestFiltering>
        </security>
        <httpRedirect enabled="false" destination="http://192.168.101.127/tht1" exactDestination="true" childOnly="false" />
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
        </staticContent>
    </system.webServer>
</configuration>
